{% extends "template.html" %}

{% block content %}
        <form action="/atualizar" method="post" enctype="multipart/form-data">

            <div class="form-group mb-3">
                <figure class="text-center">
                    <img class="img-responseive" src="{{ url_for('imagem', nome_arquivo=capa_jogo) }}" width="200px" height="200px" alt="Capa do jogo" class="img-thumbnail" id="foto">
                    <figcaption>
                        <label for="foto" class="form-label">
                            Mudar Capa
                            <input type="file" name="arquivo" accept=".jpg" class="form-control">
                        </label>
                    </figcaption>
                </figure>
            </div>


            <fieldset class="border p-4 rounded">
                <input type="hidden" name="id" name="id" value="{{ id }}">
                {{ form.csrf_token }}
                <div class="form-group mb-3">
                    {{ form.nome.label(class="form-label") }}
                    {{ form.nome(class="form-control") }}
                </div>
                <div class="form-group mb-3">
                    {{ form.categoria.label(class="form-label") }}
                    {{ form.categoria(class="form-control") }}
                </div>
                <div class="form-group mb-3">
                    {{ form.console.label(class="form-label") }}
                    {{ form.console(class="form-control") }}
                </div>
                {{ form.salvar(class="btn btn-primary") }}
                <a href="/" class="btn btn-secondary">Cancelar</a>
            </fieldset>
        </form>
{% endblock %}
