<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <title>Jogoteca</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Jogoteca</a>
            <ul class="navbar-nav ml-auto">
                {% if session.usuario_logado %}
                <li class="nav-item">
                    <a class="nav-link" href="/novo">Adicionar Jogo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Lista de Jogos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Sair</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Entrar</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>


    <div class="container mt-5">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id='messages' class='list-unstyled'>
                    {% for message in messages %}
                        <li class='alert alert-info'>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}


        <div class="page-header">
            <h1>{{ titulo }}</h1>
        </div>

        {% block content %}
        {% endblock %}


    </div>
</body>
</html>
